/*items*/
.red {
	color: red;
}

.main-form {
	padding-bottom: 50px;
}
/*Responsive*/
/*for pc*/
@media(min-width: 1023px) {
	.form-title {
		text-align: center;
		font-size: 42px;
	}
}

/*for tablet*/
@media (min-width: 768px) and (max-width: 1022px) {
	.form-title {
		text-align: center;
		font-size: 38px;
		font-weight: bold;
	}
}

/*for mobile*/
@media(max-width: 767px) {
	.form-title {
		text-align: center;
		font-weight: bold;
		padding-bottom: 20px;
	}
}