.main-content {
	max-width: 500px;
	margin: 20px auto;
}


.col-item-wrap select, .exercise-wrap .form-control{
	border: none;
	border-bottom: 1px solid #2f2f2f;
	padding-bottom: 2px;
}

.exercise-wrap .form-control {
	border-radius: 0;
	outline: none;
}

.form-row {
	max-width: 80%;
	margin: 15px auto 25px auto;
}

.row-submit {
	max-width: 90%;
	margin: 0 auto 20px auto;
}

.gym-item-wrap i {
	float: right;
	margin-top: 4px;
	color: #007bff;
}

.main-content {
	border: 1px solid #2f2f2f;
	padding: 15px;
}

@media (max-width: 767px) {
	.col-item-wrap select, .exercise-wrap .form-control {
		margin-bottom: 15px;
		width: 100%;
	}
}
